@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: url('/images/bg-1.webp'); /* Optional: Use a different image for dark mode */

 
}

h1 {
  font-family: var(--font-dominik);

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url('/images/bg-1.webp'); /* Optional: Use a different image for dark mode */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  color: var(--foreground);
  background-image: var(--background);
  background-size: cover; /* Ensures the background image covers the entire viewport */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
  font-family: var(--font-geist-sans), var(--font-caviardreams) ,var(--font-dominik), Arial, Helvetica, sans-serif;



  color: var(--foreground);

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
.font-caviar {
  font-family: var(--font-caviardreams);
}
.font-dominik {
  font-family: var(--font-dominik);
}

